{% load static %}

<nav id="sidebarMenu" class="collapse d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a >I. Műveletek egész számokkal</a>
                    
                <ul class="nav flex-column ml-3">

                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'pythagoras' %}active{% endif %}"href="{% url 'egesz_szamok:pythagoras' %}">
                            Pythagoras tábla
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'szorzas_vnext' %}active{% endif %}" href="{% url 'egesz_szamok:szorzas_vnext' %}">
                            Egész számok szorzása <span class="badge bg-primary">ÚJ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item text-muted" href="{% url 'egesz_szamok:szorzas' %}" style="font-size: 0.9em;">
                            <small>↳ Régi verzió</small>
                        </a>
                    </li>
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'egesz_szamok:szorzasok' %}active{% endif %}" href="{% url 'egesz_szamok:szorzasok' %}">
                            Szorzások
                        </a>
                    </li>
                    {% endcomment %}
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'egesz_szamok:szorzas_tobbjegyuvel' %}active{% endif %}" href="{% url 'egesz_szamok:szorzas_tobbjegyuvel' %}">
                            Többjegyű számok szorzása
                        </a>
                    </li>
                    {% endcomment %}

                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'egesz_szamok:helyiertek-matrix' %}active{% endif %}" href="{% url 'egesz_szamok:szorzas_helyiertek_matrix' %}">
                            Helyiérték szerint
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.view_name == 'mathsolver:index' %}active{% endif %}" href="{% url 'mathsolver:index' %}">
                            Matek Megoldó
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'plotly_chart:kordinata' %}active{% endif %}" href="{% url 'plotly_chart:kordinata' %}">
                            Koordináta rendszerek
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'blockly:main' %}active{% endif %}" href="{% url 'blockly' %}">
                            Blockly programozás
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'blockly:3d_blockly' %}active{% endif %}" href="{% url '3d_blockly' %}">
                            3D-Blockly
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'blockly_threejs' %}active{% endif %}" href="{% url 'blockly_threejs' %}">
                            Blockly-ThreeJS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'threejs_app:index' %}active{% endif %}" href="{% url 'threejs_app:index' %}">
                            Three.js 3D Vizualizációk
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'threejs_app:basic_scene' %}active{% endif %}" href="{% url 'threejs_app:basic_scene' %}">
                            Three.js Alap Jelenet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'threejs_app:geometry_showcase' %}active{% endif %}" href="{% url 'threejs_app:geometry_showcase' %}">
                            3D Geometriai Alakzatok
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link submenu-item {% if request.resolver_match.url_name == 'egesz_szamok:ciklusok' %}active{% endif %}" href="{% url 'egesz_szamok:ciklusok' %}">
                            Ciklusok gyakorlása
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-item" href="#">II. További témakörök...</a>
            </li>
        </ul>
    </div>
</nav>