{% extends 'index.html' %}
{% load static %}

{% block title %}Kísérlet 1: Lebegő Kockák{% endblock %}

{% block extra_head %}
<style>
    body { margin: 0; overflow: hidden; } /* Three.js vászonhoz */
    #threejs-container { width: 100%; height: 80vh; display: block; } /* Méret beállítása */
</style>
{% endblock %}

{% block content %}
<div id="threejs-container"></div>
<div class="container mt-3">
     <a href="{% url 'TRON_Bit:tron_index' %}" class="btn btn-secondary mb-3">Vissza a TRON menübe</a>
    <h2>Kísérlet 1: Lebegő Kockák</h2>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{% static 'tron_bit/js/experiment1.js' %}"></script>
{% endblock %}